@font-face {
    font-family: PernamentMarker;
    src:url('font/PermanentMarker-Regular.ttf')
}
div#title_picture {
    position: relative;
    height: 56vw;
    border-radius: 50px;
    overflow: hidden;
}
div#title_picture img {
    position: absolute;
    transition: all 2s;
}
img#grass {
    width: 100%;
    bottom: -200%;
}
img#nebo {
    width: 100%;
    top: -100%;
}
img#middle {
    top: -100%;
    width: 32%;
    left: -100%;
}
img#left_down {
    left: -100%;
    bottom: -100%;
    width: 48%;
}
img#left_up {
    top: -200%;
    left: -100%;
    width: 37.6%;
}
img#right {
    right: -100%;
    bottom: -100%;
    width: 36.3%;
}
h1 {
    padding: 30px 0 30px 0;
    text-align: center;
    color: dodgerblue;
    font-size: 7vw;
    font-family: "Chalkduster",PernamentMarker,"Comic Sans MS",sans-serif;
}
h2 {
    font-size: 5vw;
    font-family: "Chalkduster",PernamentMarker,"Comic Sans MS",sans-serif;
}
img.square {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
    opacity: 1;
}
img.square:hover {
    opacity: 0.1;
}
div.puzzleImg {
    position: relative;
    display: inline-block;
    background-color: green;
    margin: 50px 6vw;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: black 5px 5px 5px;
    width: 35vw;
    height: 35vw;
    vertical-align: center;
}
div.puzzleImg div {
    font-size: 4vw;
    float: left;
    color: white;
    font-family: "Chalkduster",PernamentMarker,"Comic Sans MS",sans-serif;
    width: 35vw;
    height: 35vw;
    margin: 0;
    padding-top: 25%;
}
@media (max-width: 768px) {
    h1 {
        font-size: 9vw;
    }
    h2 {
        font-size: 7vw;
    }
    div.puzzleImg {
        width: 65vw;
        height: 65vw;
    }
    div.puzzleImg div {
        font-size: 7vw;
        width: 65vw;
        height: 65vw;
    }
}
article#choose_puzzle{
    padding-top: 60px;
    text-align: center;
}
footer {
    background-color: white;
    width: 100%;
    text-align: center;
    height: 50px;
    padding: 10px;
}

@media screen and (min-width:768px) {
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 120%;
    left: 0;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
