@font-face{
    font-family: PernamentMarker;
    src:url('font/PermanentMarker-Regular.ttf')
}
/*Title page*/
div#title_picture{
    position: relative;
    height: 55vw;
    overflow: hidden;
}
div#title_picture img{
    position: absolute;
    transition: all 2s;
}
img#grass{
    width: 100%;
    bottom: -200%;
}
img#nebo{
    width: 100%;
    top: -100%;
}
img#middle{
    top: -100%;
    width: 32%;
    left: -100%;
}
img#left_down{
    left: -100%;
    bottom: -100%;
    width: 48%;
}
img#left_up{
    top: -200%;
    left: -100%;
    width: 37.6%;
}
img#right{
    right: -100%;
    bottom: -100%;
    width: 36.3%;
}
h1{
    padding: 4% 0 4% 0;
    text-align: center;
    color: dodgerblue;
    font-size: 6vw;
    font-family: "Chalkduster",PernamentMarker,"Comic Sans MS",sans-serif;
}
h2{
    font-size: 4vw;
    padding-top: 9%;
    font-family: "Chalkduster",PernamentMarker,"Comic Sans MS",sans-serif;
}
img.square{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
    opacity: 1;
}
img.square:hover{
    opacity: 0.1;
}
div.puzzleImg{
    position: relative;
    display: inline-block;
    background-color: green;
    margin: 6% 6vw;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: black 5px 5px 5px;
    width: 35vw;
    height: 35vw;
    vertical-align: center;
}
div.puzzleImg div{
    font-size: 4vw;
    float: left;
    color: white;
    font-family: "Chalkduster",PernamentMarker,"Comic Sans MS",sans-serif;
    width: 35vw;
    height: 35vw;
    margin: 0;
    padding-top: 25%;
}
.article_puzzle{
    text-align: center;
}

img.photo{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
    opacity: 1;
    border-radius: 5px;
}
img.photo:hover{
    opacity: 0.2;
}
div#lastP{
    margin-right: auto;
}
div.profilePhoto{
    position: relative;
    display: inline-block;
    background-color: green;
    margin-right: 4vw;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: black 5px 5px 5px;
    width: 20vw;
    height: 26.6vw;
}
div.profilePhoto div{
    font-size: 1.9vw;
    float: left;
    color: white;
    font-family: "Chalkduster",PernamentMarker,"Comic Sans MS",sans-serif;
    width: 20vw;
    height: 26.6vw;
    margin: 0;
    padding-top: 10%;
}
div.photoName{
    position: relative;
}
div.photoName div{
    position: absolute;
    top: 80%;
    left: 0;
}
td, th{
    vertical-align: middle !important;
}
.table-success{
    text-align: left;
}
footer{
    font-size: 1.1vw;
    background-color: white;
    width: 100%;
    text-align: center;
    height: 50px;
    padding: 10px;
}
#nameday-today{
    background: #e3f2fd;
    font-weight: bold;
    font-family: "Arial",Arial,sans-serif;
    font-size: 1vw;
    padding: 0.5vw 0 0.5vw 5px;
}
.breadcrumb{
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: "Arial",Arial,sans-serif;
    font-size: 14px;
    background: white;
}

@media (max-width: 768px){
    h1{
        font-size: 12vw;
    }
    h2{
        font-size: 9vw;
    }
    div.puzzleImg{
        width: 65vw;
        height: 65vw;
    }
    div.puzzleImg div{
        font-size: 7vw;
        width: 65vw;
        height: 65vw;
    }
    div.profilePhoto{
        width: 25vw;
        height: 33vw;
        margin-right: 15vw;
    }
    div.profilePhoto div{
        font-size: 2.4vw;
        width: 25vw;
        height: 33vw;
    }
    div.lastPhoto{
        margin-right: auto;
    }
    #nameday-today{
        font-size: 2.5vw;
    }
    .breadcrumb{
        font-size: 1.4vw;
    }
    footer{
        font-size: 2.2vw;
    }
}
