div#pictures{
    position: relative;
    height: 30vw;
    width: 45%;
    margin: auto auto 40vw auto;
    border: black solid 3px;
}
#interfacePuzzle{
    position: relative;
    height: 45px;
    width: 100%;
}
@media (max-width: 768px){
    div#pictures{
        height: 59vw;
        width: 90%;
        margin-bottom: 108vw;
    }
    #buttons{
        left: 5vw !important;
    }
    #display{
        right: 5vw !important;
    }
}
div#pictures *{
    position: absolute;
}
div#pictures div{
    z-index: -1;
}
div#pictures img{
    z-index: 0;
}
img#floor{
    top: 76.5%;
    left: 26.8%;
    width: 73.4%;
}
img#left_wall{
    top: 0;
    left: 0;
    width: 23.2%;
}
img#middle_table{
    top: 66.7%;
    left: 43.9%;
    width: 23%;
}
img#middle_wall{
    top: 7.1%;
    left: 22.9%;
    width: 57%;
}
img#next_to_sofa{
    top: 70.7%;
    left: 0;
    width: 12.2%;
}
img#right_wall{
    top: 0;
    left: 76.6%;
    width: 23.2%;
}
img#sofa{
    top: 57.8%;
    left: 0;
    width: 38.2%;
}
img#under_tv{
    top: 65.5%;
    left: 71%;
    width: 29.3%;
}
img#upper_wall{
    top: 0;
    left: 18.3%;
    width: 64%;
}
img#wardrobe{
    top: 15.5%;
    left: 72.4%;
    width: 12.1%;
}
img#window{
    top: 19%;
    left: 32.2%;
    width: 35.5%;
}

div#floor_droppable{
    top: 72%;
    left: 22%;
    height: 32.5%;
    width: 80%;
}
div#left_wall_droppable{
    top: -2.5%;
    left: -2.5%;
    height: 80%;
    width: 28%;
}
div#middle_table_droppable{
    top: 64%;
    left: 40%;
    height: 29%;
    width: 28%;
}
div#middle_wall_droppable{
    top: 4%;
    left: 20%;
    height: 78%;
    width: 62%;
}
div#next_to_sofa_droppable{
    top: 68%;
    left: -2.5%;
    height: 35%;
    width: 16%;
}
div#right_wall_droppable{

    top: -3%;
    left: 74%;
    height: 84%;
    width: 29%;
}
div#sofa_droppable{

    top: 54%;
    left: -1.5%;
    height: 48%;
    width: 42%;
}
div#under_tv_droppable{
    left: 68%;
    top: 60%;
    height: 39%;
    width: 36%;
}
div#upper_wall_droppable{
    left: 16%;
    top: -3%;
    height: 15%;
    width: 69%;
}
div#wardrobe_droppable{

    left: 70%;
    top: 12%;
    height: 55%;
    width: 17%;
}
div#window_droppable{

    left: 30%;
    top: 16%;
    height: 67%;
    width: 40%;
}

h3{
    margin-left: auto;
    margin-right: auto;
}
.modal-body-center{
    text-align: center;
}
#buttons{
    position: absolute;
    top: 0;
    left: 27.5vw;
}
#demo_button{
    margin-left: 5px;
}
#display{
    position: absolute;
    top: 45%;
    right: 28vw;
}