#pictures{
    position: relative;
    height: 30vw;
    width: 45%;
    margin: auto auto 40vw auto;
    border: black solid 3px;
}
#interfacePuzzle{
    position: relative;
    height: 45px;
    width: 100%;
    margin-top: 10px;
}
@media (max-width: 768px){
    div#pictures{
        height: 60.5vw;
        width: 90%;
        margin-bottom: 108vw;
    }
    #buttons{
        left: 5vw !important;
    }
    #display{
        right: 5vw !important;
    }
}
#pictures *{
    position: absolute;
}
#pictures div{
    z-index: -1;
}
#pictures img{
    z-index: 0;
}
#floor{
    top: 76.5%;
    left: 26.8%;
    width: 73.4%;
}
#left_wall{
    top: 0;
    left: 0;
    width: 23.2%;
}
#middle_table{
    top: 66.7%;
    left: 43.9%;
    width: 23%;
}
#middle_wall{
    top: 7.1%;
    left: 22.9%;
    width: 57%;
}
#next_to_sofa{
    top: 70.7%;
    left: 0;
    width: 12.2%;
}
#right_wall{
    top: 0;
    left: 76.6%;
    width: 23.2%;
}
#sofa{
    top: 57.8%;
    left: 0;
    width: 38.2%;
}
#under_tv{
    top: 65.5%;
    left: 71%;
    width: 29.3%;
}
#upper_wall{
    top: 0;
    left: 18.3%;
    width: 64%;
}
#wardrobe{
    top: 15.5%;
    left: 72.4%;
    width: 12.1%;
}
#window{
    top: 19%;
    left: 32.2%;
    width: 35.5%;
}

#floorDrop{
    top: 72%;
    left: 22%;
    height: 32.5%;
    width: 80%;
}
#left_wallDrop{
    top: -2.5%;
    left: -2.5%;
    height: 80%;
    width: 28%;
}
#middle_tableDrop{
    top: 64%;
    left: 40%;
    height: 29%;
    width: 28%;
}
#middle_wallDrop{
    top: 4%;
    left: 20%;
    height: 78%;
    width: 62%;
}
#next_to_sofaDrop{
    top: 68%;
    left: -2.5%;
    height: 35%;
    width: 16%;
}
#right_wallDrop{

    top: -3%;
    left: 74%;
    height: 84%;
    width: 29%;
}
#sofaDrop{

    top: 54%;
    left: -1.5%;
    height: 48%;
    width: 42%;
}
#under_tvDrop{
    left: 68%;
    top: 60%;
    height: 39%;
    width: 36%;
}
#upper_wallDrop{
    left: 16%;
    top: -3%;
    height: 15%;
    width: 69%;
}
#wardrobeDrop{

    left: 70%;
    top: 12%;
    height: 55%;
    width: 17%;
}
#windowDrop{

    left: 30%;
    top: 16%;
    height: 67%;
    width: 40%;
}

#demo{
    margin-left: 5px;
}

h3{
    margin-left: auto;
    margin-right: auto;
}
.modal-body-center{
    text-align: center;
}
#buttons{
    position: absolute;
    top: 0;
    left: 27.5vw;
}

#display{
    position: absolute;
    top: 45%;
    right: 28vw;
}